**/.idea
**/.favorites.json
**/test_results.xml
**/.settings
**/build
**/.project
**/.cproject
**/.cache
**/__pycache__
**/*.png
**/*.egg-info
**/dott_data
**/dist
**/jlink_log.txt
*.pyc
*.bz2
*.gz
*.zip
*.jar
*.exe
*.deb
*.dat
**/venv_*
