# When you are using DOTT, it is recommended to install the 'dott-ng' package via pip which then pulls in all
# required dependencies.
#
# The following list of requirements is more intended to get you stared (most probably in a venv) when you plan to
# work on DOTT itself (i.e., add new features, fix bugs, ...)
dott-ng-runtime==1.1
pygdbmi==0.11.0.0
pylink-square
pytest

# more recommendations than actual requirements below this line
pyOCD
pytest-cov
pytest-instafail
pytest-repeat
pyserial
pigpio
matplotlib
